/* @media (min-width: 300px) {

  .pull-right {
    float: none;
  }
  body {
    font-size: 1em;
  }
  input {
    height: 5rem;
  }
} */
@media (max-width: 500px) {}

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */
@font-face {
  font-family: Ubuntu;
  src: url('/css/Ubuntu-Light.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  background-color: white !important;
}

input::placeholder {
  text-transform: capitalize;
}

input {
  border: none;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  margin: 1rem 0;
}

label {
  font-weight: 400;
  width: max-content;
  cursor: pointer;
}

ul {
  list-style-type: none;
  list-style: none;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none !important;
}

.container {
  width: 95%;
  margin: auto;
}

.breadcrumbs {
  margin: .5rem;
  font-variant: small-caps;
}

.logo {
  padding: 10px;
  height: 70px;
  width: auto;
  position: absolute;
  right: 50%;
  top: 0%;
  transform: translate(50%);
  z-index: -1;
}

.search {
  text-align: center;
}

.model-input,
.color-input {
  width: 50%;
  margin: 5px 10px;
}

.label {
  font-size: 1rem;
  margin: 1.5px 2.5px;
  padding: .3rem;
  min-height: 30px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

img {
  width: 15rem;
}

img.sku-picture {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: .2rem;
  border-radius: 5px;
  transition: .5s ease-in;
}

img.sku-picture.hidden {
  width: 0%;
}

.nav {
  margin: 0 auto 2rem auto;
  text-align: center;
  justify-content: end;
  align-items: center;
}

.drawer-nav {
  position: relative;
  height: 100%;
}

.drawer-nav a {
  display: block;
}

.drawer-nav .last-row {
  display: block;
  position: absolute;
  bottom: 0;
}

.user-panel {
  position: fixed;
  overflow: scroll;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  transform: translateY(0%);
  transition: all 0.3s cubic-bezier(.47, 0, .74, .71) 0s;
  z-index: 1;
}

.cui-toast {
  position: fixed !important;
  text-align: center;
  top: 1rem;
}

.nav>.user-panel-dropdown {
  margin: auto 10px;
  display: inline;
  position: absolute;
  right: 2%;
  top: 4%;
  text-transform: uppercase;
  cursor: pointer;
}

.user-icon>.dropdown {
  transform: rotate(-90deg) scale(.8);
}

.user-icons {
  padding: 1rem;
}

.dropdown.user-icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 4%;
}

/* .login-result {
  background-color: #bcf762;
  padding: .5rem;
  border-radius: 5px;
} */
.user-panel.hidden {
  transform: translateY(-200%);
}

form.login {
  margin: 0% auto !important;
  max-width: 500px;
  padding: 10%;
}

.login-form.hidden {
  display: none;
}

.login-user {
  font-variant: all-petite-caps;
}

.user-inputs {
  width: 100%
}

/* .user-panel span {
  display: block;
  text-align: center;
} */
.user-panel>.user-personal-bucket {
  position: relative;
}

input[name=css-tabs] {
  display: none;
}

.sku-wrapper {
  width: 95% !important;
  margin: 2rem auto;
  animation: fade-in .5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem)
  }

  to {
    opacity: 1;
    transform: translateY(0rem)
  }
}

.sku-wrapper * {
  font-size: .8rem !important;
}

.sku-title.row {
  justify-content: space-between;
  align-items: center;
}

.sizes-wrapper {
  margin-top: 1rem;
}

.list-item {
  margin: 4px 10px
}

.list-item.solomeo {
  background-color: blanchedalmond;
  border-radius: 4px;
  width: max-content;
}

.new-client.reveal-inputs .new-client-inputs {
  max-height: 100vh;
  opacity: 1;
  z-index: 0;
}

.new-client-inputs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-height: 0px;
  opacity: 0;
  transition: .3s ease-out;
  z-index: -1;
}

.new-client-inputs .cui-input,
.new-client-inputs .cui-button {
  margin: .5rem 0;
}

.new-client-inputs input[name="client-name"] {
  text-transform: capitalize;
}

.new-client-inputs input[name="client-surname"] {
  text-transform: capitalize;
}

.new-client-inputs input[name="client-mail"] {
  text-transform: lowercase;
}

ul.client-list {
  display: flex;
  flex-direction: column-reverse;
}

ul.client-list .client-card {
  padding: 1rem 2rem;
  margin: 1rem 0;
  cursor: pointer;
}

ul.client-list .client-card span {
  text-align: right;
  color: #b9b5b5;
}

.new-order {
  margin: .5rem 0;
}

.search-results {
  position: absolute;
  z-index: 1;
  background: white;
  overflow-y: scroll;
  max-height: 200px;
}

.search-client-name {
  margin-bottom: 0px;
}

.order.client-order {
  position: relative;
  border-radius: 5px;
  border: 1px solid #e0dcdc;
  padding: 1.5rem;
  margin: 1rem 0;
  cursor: pointer;
}

.order.client-order .remove-search {
  display: none;
}

.edit-order-wrapper .cui-list {
  overflow: visible;
}

.collapsible {
  transition: .2s ease-out;
  display: block;
  opacity: 1;
  max-height: 100vh;
}

.collapsible.collapsed {
  opacity: 0.5;
  max-height: 0;
}

.searches {
  text-align: center;
  justify-content: center;
  padding-top: 1.5rem;
  border-top: 1px dotted lightgray;
}

.searches-order-id {
  margin: 1.5rem 0;
}

.order.client-order svg.svg-cross {
  position: absolute;
  top: 15px;
  right: 15px;
}

.expand-icon.reversed svg {
  transform: rotate(180deg)
}

.cui-list-item {
  border-bottom: dotted 1px #c5cdd1 !important;
}

.selected-order .added-items {
  margin: .5rem 0;
}

.row.totals {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.searches-content {
  display: flex;
  flex-direction: column-reverse;
}

.searches-content .table {
  display: flex;
  flex-direction: column-reverse;
}

.searches-content span {
  display: inline;
}

.search-instance {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #e0dcdc;
  margin: 1rem 0;
  text-transform: uppercase;
}

.search-instance .search-date,
.search-instance .search-user,
.search-instance .search-order {
  margin: 0px;
  font-style: italic;
  color: #e0dcdc;
  text-align: right;
  text-transform: lowercase;
}

#client-name,
.order-client-name {
  text-transform: capitalize;
}

.tab-label {
  font-variant: small-caps;
}

.login-button {
  margin: auto;
}

.results {
  text-align: left;
  margin: 5rem auto;
}

.buttons-group>button>svg {
  margin-bottom: -5px;
}

.buttons-group button {
  margin: 5px;
}

.cui-xl svg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.dhl-results {
  margin-top: 1rem;
}

.dhl-results .cui-list div {
  font-size: 12px;
}

/* .user-icon svg path,
.button>svg>path {
  fill: black;
}

svg.get-image path {
  fill: black;
}  */
/* .svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: black;
}

.svg-icon:hover path {
  fill: red;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
} */
.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex.reverse {
  flex-direction: column-reverse;
}

.flex.justify {
  justify-content: center;
}

.f-width {
  width: 100%;
}

.d-none {
  display: none !important;
}