
/* @media (min-width: 300px) {

  .pull-right {
    float: none;
  }
  body {
    font-size: 1em;
  }
  input {
    height: 5rem;
  }
} */

@media (max-width: 500px) {

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

input {
  border: none;
  border-bottom: 1px solid lightblue;
  padding: 1rem !important;
  text-transform: uppercase;
  margin: 1rem 0;
}
input[type=checkbox] {
  height: 0px;
}
label {
  font-weight: 400;
}
ul {
  list-style-type: none;
}
.label {
  font-size: 1rem;
  margin: 0 5px;
}
.label-price {
  background-color: #1c84c6;
  color: #FFFFFF;
  padding: .3rem;
  border-radius: 10px;
}
.label-description {
  padding: .3rem;
  border-radius: 10px;
  font-size:
}
.label-size {
  padding: .3rem;
  border-radius: 10px;
  background-color: #61ca85;
  color: white;
  width: min-content;
}
.pull-right {
  float: right;
}
.row.model {
  margin:auto;
}
img {
  width: 15rem;
}
img.sku-picture {
  display: block;
  margin:auto;
  width: 30vw;
  margin-bottom: .2rem;
  border-radius: 10px;
}

.nav {
  margin: auto;
  text-align: center;
}

.results {
  text-align: left;
  margin: 5rem auto;
  width: 75%;

}

.results * {
  cursor: default;
}
.sku-wrapper {
  border-radius: 10px;
  border: .5px solid #93d1f7;
  padding: .5rem;
  margin: 1rem;
}
.sku {
  cursor: pointer;
  margin-top: 1rem;
}

.sizes-wrapper {
  transform: scaleY(1);
  transform-origin: top;
  transition: all 0.25s ease;
  margin: 1rem 15px 15px 15px;
  font-size: 1.1rem;
}

.sizes-wrapper.hidden {
  transform: scaleY(0);
  border: none;
  overflow: hidden;
  max-height: 0;
}

.button-primary {
  display: block;
  margin: auto;
  background: transparent;
  border: 1px solid lightblue;
  border-radius: 10px;
  height: 3rem;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.loader {
  text-align: center;
}
.loader.hidden {
  display: none;
}
