
/* @media (min-width: 300px) {

  .pull-right {
    float: none;
  }
  body {
    font-size: 1em;
  }
  input {
    height: 5rem;
  }
} */

@media (max-width: 500px) {

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}
html {
  overflow-y: scroll;
}
body {
}

input {
  border: none;
  border-bottom: 1px solid lightblue;
  padding: 1rem !important;
  text-transform: uppercase;
  margin: 1rem 0;
}
input[type=checkbox] {

}
label {
  font-weight: 400;
  width: max-content;
}
ul {
  list-style-type: none;
}
.label {
  font-size: 1rem;
  margin: 0 2.5px;
  padding: .3rem;
  min-height: 30px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.label-price {
  background-color: #1c84c6;
  color: #FFFFFF;
}
.label-receivables {
  background: gold;
  border: .5px solid lightgrey;
}

.label-size {
  background-color: #2d8c4d;
  color: white;
  padding: 0 1rem;
}
.shop {
  font-size: 1.2rem;
}
.pull-right {
  float: right;
}
.content-width {
  width: max-content;
}
.row.model {
  margin:auto;
}
img {
  width: 15rem;
}
img.sku-picture {
  display: block;
  margin:auto;
  width: 30vw;
  margin-bottom: .2rem;
  border-radius: 2px;
}

.nav {
  margin: auto;
  text-align: center;
}

.nav > .user-input {
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto;
  height: 95vh;
  background: white;
  display: flex;
  transform: translateY(0%);
  transition: all 0.3s cubic-bezier(.47,0,.74,.71) 0s;
  border-left: 1px solid gray;
  padding: 1rem;
}
.nav > .user-icon {
  margin: auto 10px;
  display: inline;
  position: absolute;
  right: 0px;
  top: 10%;
  text-transform: uppercase;
}
.user-icon > .dropdown {
  transform: rotate(-90deg) scale(.8);
}
.dropdown.user-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
/* .login-result {
  background-color: #bcf762;
  padding: .5rem;
  border-radius: 5px;
} */
.user-input.hidden {
  transform: translateY(-200%);
}
.user-inputs span {
  display: block;
}
.login-button {
  margin: auto;
}
.results {
  text-align: left;
  margin: 5rem auto;
}

.results * {
  cursor: default;
}
.sku-wrapper {
  border-radius: 2px;
  border: .5px solid #93d1f7;
  padding: .5rem;
  margin: 1rem;
  padding-left: 1rem;
}
.sku {
  cursor: pointer;
  margin: 1rem 0px;
}

.sizes-wrapper {
  /* transform: scaleY(1); */
  transform-origin: top;
  margin: 3rem 15px 15px 15px;
  font-size: 1.1rem;
}



.sizes-wrapper.hidden {
  /* transform: scaleY(0); */
  border: none;
  overflow: hidden;
  max-height: 0;
}

.button-primary {
  /* display: block;
  margin: auto;
  background: transparent;
  border: 1px solid lightblue;
  border-radius: 2px;
  height: 3rem;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center; */
}
.buttons-group > button > svg {
  margin-bottom: -5px;
}
.user-icon svg path {
  fill: black;
}

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.loader {
  text-align: center;
}
.loader.hidden {
  display: none;
}

/* UTILITIES

check function collapsibles in app.js
*/

.collapsible {
  /* max-height: 150vh; */
  overflow: hidden;
}
.collapsed {
  overflow: hidden;
  max-height: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
